#TabsToolbar {
  -moz-box-ordinal-group: 3;
}
#nav-bar{
  border-top-width: 0px !important;
}
#TabsToolbar .tabbrowser-tabs {
  height: 18px !important;
  border-bottom: 1px solid #B1B1B1 !important;
}

.tab-line {
  display: none !important;
}

#PersonalToolbar {
  -moz-box-ordinal-group: 2;
  background: rgb(220, 220, 220) !important;
  border-bottom: 1px solid #B1B1B1 !important;
}

#TabsToolbar {
  padding-inline-start: 0px !important;
  margin-bottom: none !important;
}

.titlebar-placeholder {
  display: none;
}

#TabsToolbar .tabbrowser-tab[fadein]:not([pinned]) {
  flex-grow: 1 !important;
  min-width: 1px !important;
  max-width: 100% !important;
}

#TabsToolbar {
  margin-bottom: 0px !important;
  margin-left: 0px !important;
  margin-right: -1px !important;
}


#TabsToolbar .tab-close-button {
  display:none!important;
}

#nav-bar {
  height: 38px !important;
  padding: 0px 0px 0px 0px !important;
}
#tabbrowser-tabs {
  margin-left: 0px !important;
  height: 24px !important;
  --tab-min-height: 24px !important;
}
#TabsToolbar .tab-content > * {
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}

#nav-bar {
  background: linear-gradient(rgb(230, 230, 230), rgb(220, 220, 220)) !important;
  border-bottom: 1px solid #B1B1B1 !important;
}
#TabsToolbar {
  background: #BCBCBC !important;
}
.tab-background[selected="true"] {
    background-attachment: none !important;
    background-color: rgb(225, 225, 225) !important;
    background-image: none !important;
}
#urlbar {
  background: #FAFAFA !important;
  border: 1px solid rgba(0,0,0,0.5);
}


.tabbrowser-tab[pinned]:not([busy="true"]) .tab-icon-image {
  display: block !important;
}
.tab-label {
  -moz-box-flex: 1 !important;
  text-align: center !important;
  font-family:Helvetica Neue!important;
  font-size:9pt!important;
}

#titlebar-buttonbox-container {
  margin-left: 5px !important;
  margin-top: 10.5px !important;
}

#navigator-toolbox::after {
  display: none !important;
}

#new-tab-button{
  display:none!important;
}

.tabs-newtab-button, #back-button, #forward-button {
display:none!important;
}

.tabbrowser-tab { min-width: 1px !important; clip-width: 1px!important; text-shadow:none!important;}

.tab-label-container[textoverflow]:not([pinned]) {
  mask-image: unset !important;
}
